<div class="content">

    <div class="animations">
        <div class="box animate-exotic">
            <h4>Web stuff<br /> is awesome!</h4>
        </div>
        <img class="palm" src="~/img/palm_my.png" />
    </div>

</div>