<div class="content">

    <div class="animations">
        <div class="box animate-exotic">
            <h2>Exotic!</h2>
        </div>
        <img class="palm" src="~/img/palm_my.png" />
    </div>

</div>