    <div class="menu content">
        <div>
            <a href="https://vk.com/albums-107831101" target="_blank">
                <div id="gallery" class="content">
                    <div id="angle">Visit Galery!</div>
                </div>
            </a>
        </div>
        <div id="banner">
            <a href="#"><div id="sale" class="button">SALE!</div></a>
            <a href="#"><div id="kids" class="button">Dolls for Kids</div></a>
            <a href="#"><div id="her" class="button">Girls love it!;)</div></a>
        </div>
    </div>

    <div class="clear"></div>

    <div class="text content">
        <h2>Hello!</h2>
        <p>Small paragraph to introduce all this stuff...</p>
        <p>And wonderful-cute work examples:</p>
    </div>


    <div class="mini content">

        <figure class="samples">
            <a href="#">
                <img src="thumbs/q1.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>

        <figure class="samples">
            <a href="#">
                <img src="thumbs/q2.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q3.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q4.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q5.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q6.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q7.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q8.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q9.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q10.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q11.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>
        <figure class="samples">
            <a href="#">
                <img src="thumbs/q12.jpg" alt="image example" />
            </a>
            <figcaption>description below image</figcaption>
        </figure>

    </div>
