#gallery {
    max-width: 200px;
    height: 360px;
    font-size: 2.5em;
    background-image: url(img/g1.jpg);
    background-position: left;
}

#angle {
    top: 230px;
    left: 10px;
}

#banner {
    width: 260px;
    height: 360px;
}

#banner div {
    padding: 0;
    margin-bottom: 4px;
    height: 117.3px;
    line-height: 117.3px;
    color: whitesmoke;
    overflow: hidden;
    font-weight: 900;
    text-align: center;
    font-size: 2.3em;
}
