        <div class="content">

            <h2 style="text-transform: uppercase">new account creation</h2>

            <form>
                <p>Frist Name:</p>
                <input class="input" type="text" name="firstName" value="Please enter your first name" autofocus> <!-- Autofocus -->
                <br />
                <p>Last Name:</p>
                <input class="input" type="text" name="lastName" value="Please enter your last name">
                <br />
                <p>Email Address:</p>
                <input class="input" type="text" name="e-mail" value="e-mail">

                <br />

                <input class="checkbox" type='checkbox' checked> I wish to subscribe to newsletters that include special offers and new gift ideas

                <br />

                <p>Password:</p>
                <input class="input" type="text" name="password"
                       value="Your password should contain 6 letters or more" />
                <br />
                <p>Confirm Password:</p>
                <input class="input" type="text" name="confirmPassword" />

                <p>Comments:</p>
                <textarea></textarea>

                <br />

                <input type='radio'>Variant1
                <br />
                <input type='radio'>Variant2
                <br />
                <input class="submit" type="submit" value="Create Account">
            </form>

        </div>
