        <div class="content">

            <h2 style="text-transform: uppercase" id="accountCreate">new account creation</h2>

            <form>
                <label for="firstName">Frist Name:</label>
                <input class="input" type="text"  name="firstName" placeholder="Please enter your first name" autofocus required> <!-- Autofocus -->
                <br />
                <label for="lastName">Last Name:</label>
                <input class="input" type="text" name="lastName" placeholder="Please enter your last name" required>
                <br />

                <div id="gender">
                    <label for="gender" class="line">Gender:</label>
                    <p class="line">
                        <select name="gender">
                            <option value="male">male</option>
                            <option value="female">female</option>
                            <option value="unnown">unnown =\</option>
                        </select>
                    </p>
                </div>
                <br />

                <label for="e-mail">Email Address:</label>
                <input class="input" type="email" name="e-mail" placeholder="e-mail" required>

                <br />

                <input class="checkbox" type='checkbox' checked> I wish to subscribe to newsletters that include special offers and new gift ideas

                <br />

                <label for="password">Password:</label>
                <input class="input" type="password" name="password" placeholder="Your password should contain 6 letters or more" required/>
                <br />
                <label for="confirmPassword">Confirm Password:</label>
                <input class="input" type="password" name="confirmPassword" required/>
                <br />

                <label for="comments">Comments:</label>
                <br />
                <textarea name="comments" rows="10" cols="50"></textarea>

                <br />
                <fieldset><legend>Variants</legend>
                    <input type='radio' name="variant"><label for="variant">Variant1</label>
                    <br />
                    <input type='radio' name="variant"><label for="variant">Variant2</label>
                    <br />
                    <br />
                </fieldset>
                <input class="submit" type="submit" value="Create Account" />
            </form>

        </div>
