.animations .box {
    margin: 30px 0 0 80px;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    min-width: 295px;
    max-width: 400px;
    height: 195px 195px;
    font-size: 2em;
    background: linear-gradient(90deg, #ff6a00 10%, #2a0638 90%);
}

.animate-exotic {
    animation: exotic 140s forwards; /* forwards - сохраниться конечное положение анимации*/
}

@keyframes exotic {
    0% {box-shadow: 0 0 1px 1px #000; text-shadow: 2px #ff6a00;}
    100% {color: #110000; transform: rotate(13deg) skew(30deg, 10deg);}
}

.animations {
    overflow: hidden;
    background-image: url('../img/beach.jpg');
    background-repeat: no-repeat;
}

.palm {
    position: relative;
    left: 550px;
    overflow: hidden;
}

.anipalm {
    animation: anipalm 7s forwards;
}

@-moz-keyframes anipalm {
    0% {top: 1000px;}
    20%{top: 200px;}
    40%{top: 15px;}
    60% {top: 600px;}
    80% {top: -400px;}
    100% {left: 0;top: 0px;}
}

@-webkit-keyframes anipalm {
    0% {top: 1000px;}
    20%{top: 200px;}
    40%{top: 15px;}
    60% {top: 600px;}
    80% {top: -400px;}
    100% {left: 0;top: 0px;}
}

@keyframes anipalm {
    0% {top: 1000px;}
    20%{top: 200px;}
    40%{top: 15px;}
    60% {top: 600px;}
    80% {top: -400px;}
    100% {left: 0;top: 0px;}
}